{
  "presets": [
    "env",
    "react",
    "react-native"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "react-native"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}
