# Don't export the following files
/img export-ignore
/__tests__ export-ignore
/node_modules export-ignore
# Gif are binaries
*.gif binary
# Don't conflict with package-lock file
package-lock.json -diff
